* {
    text-align: center;
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
}

.backgroundLakers {
    background-color: purple;
    color: gold;
}

.backgroundBoston {
    background-color: green;
    color: white;
}

#button1 {
    background-color: purple;color: gold;
    padding: 10px 20px;
    border-radius: 40px;
    font-size: 30px;
}
#button2 {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border-radius: 40px;
    font-size: 30px;
    border-bottom: 5px solid green;
}